# fly.toml file generated for exit-node on 2022-12-30T17:00:53-08:00

app = "exit-node"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]

[build]
  dockerfile = "Dockerfile"

[experimental]
  allowed_public_ports = []
  auto_rollback = true
