# Setup an exit node for tailscale network
#
# Set authkey, run `flyctl secrets set TS_AUTHKEY=YOUR_KEY`

app = "exit-node"
primary_region = "sjc"
swap_size_mb = 2048

kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]
  # as of 2025-04-05, somehow PATH is not set. Cannot find `tailscaled` command.
  PATH = "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
  TS_HOSTNAME = "exit-node"
  TS_STATE_DIR = "/var/lib/tailscale"
  TS_EXTRA_ARGS = "--advertise-exit-node"

[build]
  image = "tailscale/tailscale:v1.90.9"

[mounts]
  source = "tailscale_state"
  destination = "/var/lib/tailscale"

[experimental]
  allowed_public_ports = []
  auto_rollback = true
